<div id="forgotPassSuccess_Wrapper0" class="forgotPassSuccess_Wrapper0">
    <h2 class="forgotPassSuccess_Message">Hi <span>@ViewBag.FirstName!</span> </h2>
    <h2 class="forgotPassSuccess_Message">We have sent a link to  <span>@ViewBag.EmailAdd</span></h2>
    <h2 class="forgotPassSuccess_Message">Please open your email and click the link to enter your new password! </h2>
    <h2 class="forgotPassSuccess_Message">Thank you for your time to sign-in, we really appreciate!</h2>
</div>
