
@{
    ViewBag.Title = "ForgotPasswordLoginAccount";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div id="forgotPassWrapper0" class="forgotPassWrapper0">
    <div id="forgotPassWrapper1"class="forgotPassWrapper1">
        <div id="forgotPassWrapper2_Header" class="forgotPassWrapper2_Header">
            <h3>Forgot Password</h3>
        </div>
        <form id="forgotPassWrapper2_ContentForm" class="forgotPassWrapper2_ContentForm">
            <div id="forgotPassWrapper3_Email" class="forgotPassWrapper3_Email">
                <label>*Enter your email address!</label>
                <input name="EmailAddress" type="email" id="forgotPassEmailAddInput" placeholder="Email address" class="userForgotPassInput" required />
                <small id="forgotPassEmailComment" class="forgotPassEmailComment validationCommentsForgotPass"></small>
                <small id="forgotPassEmailTopLabel" class="forgotPassEmailTopLabel validationCommentsForgotPass">Email Address</small>
            </div>
            <div id="forgotPassWrapper3_Reminder" class="forgotPassWrapper3_Reminder">
                <p>After you submit, open your email and click link!  On the link provided, you can enter your new password!</p>
            </div>
        </form>

        <div id="forgotPassWrapper2_Footer" class="forgotPassWrapper2_Footer">
            <h3 id="forgotPassCreateAccnt"><a href="/NewUserAccount/NewUserFillUpForms">Create acccount?</a></h3>
            <h3 id="forgotPassFooterSubmit">Submit</h3>
        </div>
    </div>
</div>

@section Scripts_ForgotPassword{
    <script src="~/Scripts/ForgotPassword.js"></script>
}

