
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReplaceAndUpdatePassword</title>
    <link href="~/css/UserForgotPass.css" rel="stylesheet" />
</head>
<body class="updatePassBody">
    <div id="updatePassWrapper0" class="updatePassWrapper0">
        <div id="updatePassWrapper1" class="updatePassWrapper1">
            <div id="updatePassWrapper2_Header" class="updatePassWrapper2_Header">
                <h3>Forgot Password</h3>
            </div>
            <form id="updatePassWrapper2_ContentForm" class="updatePassWrapper2_ContentForm">
                <div id="updatePassWrapper3_Password" class="updatePassWrapper3_Password updatePassWrapper3Password">
                    <input name="IStillLoveYou" type="password" id="updatePassPasswordInput" placeholder="New Password" class="newPasswordForgotInput" data-emailID=" @ViewBag.EmailID "  required />
                    <small id="updatePassPasswordComment" class="updatePassPasswordComment updatePassValidationComments"></small>
                    <small id="updatePassPasswordTopLabel" class="updatePassTopLabel updatePassValidationComments">Password</small>
                </div>
                <div id="updatePassWrapper3_ConfirmPassword" class="updatePassWrapper3_ConfirmPassword updatePassWrapper3Password">
                    <input name="ConfirmPassword" type="password" id="updatePassConfPasswordInput" placeholder="Confirm Password" class="newPasswordForgotInput" required />
                    <small id="updatePassConfPasswordComment" class="updatePassConfPasswordComment updatePassValidationComments"></small>
                    <small id="updatePassConfPasswordTopLabel" class="updatePassTopLabel updatePassValidationComments">Confirm Password</small>
                </div>
                <div id="updatePassWrapper3_Reminder" class="updatePassWrapper3_Reminder">
                    <p>After you submit successfully, you can now login! If problem persist, contact x-media immediately</p>
                </div>
            </form>

            <div id="updatePassWrapper2_Footer" class="updatePassWrapper2_Footer">
                <h3 id="updatePassFooterSubmit">Submit</h3>
            </div>
        </div>
    </div>
    <script src="~/Scripts/library.js"></script>
    <script src="~/Scripts/InterfaceNewPass.js"></script>

</body>
</html>
