
@{
    ViewBag.Title = "ExistingUserLoginAccount";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}
<div id="customerLoginMainBodyWrapper">
    <div id="homeWrapper0_customerLoginDiv">
        <div id="custLogHeaderdiv">
            <h3>Customer Login</h3>
            
        </div>
        <form id="custLogContentDiv">
            <div class="custLogContentContainer">
                <small id="custLogPassAndEmailNoMatchComment">* Password or Email do not match</small>
                <input name="EmailAddress" type="email" id="custLogEmailAddInput" placeholder="Email address" class="userLoginInput" required />
                <small id="custLogEmailComment" class="validationCommentsLogin"></small>
                <small id="custLogEmailTopLabel">Email Address</small>

            </div>
            <div class="custLogContentContainer">
                <input name="IStillLoveYou" type="password" id="custLogPasswordInput" placeholder="Password" class="userLoginInput" required />
                <small id="custLogPasswordComment" class="validationCommentsLogin"></small>
                <small id="custLogPasswordTopLabel">Password</small>
            </div>
            <div id="custLogReminderParDiv">  
                <p>Do not share your login details to anyone!<br /> If you think your data is compromise, please <br /> contact x-media immediately!</p>
            </div>
            <div id="custLogForgotPasswordDiv">
                <h3><a href="/ForgotPassword/ForgotPasswordLoginAccount">Forgot Password?</a></h3>
            </div>
        </form>
        <div id="custLogFooterDiv">
            <h3 id="custLogCreateAccntH3"><a href="/NewUserAccount/NewUserFillUpForms">Create acccount?</a></h3>
            <h3 id="custLogFooterLoginH3">Login</h3>
        </div>
    </div>
</div>

@section Scripts_LoginUser{

    <script src="~/Scripts/LoginUserAccount.js"></script>
}



