/*---------------------------------FORGOT PASSWORD-------------------------*/
.forgotPassWrapper0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 5px solid blue;*/
}

.forgotPassWrapper1 {
    --backgroundEmailInput: #fafafa;
}
.forgotPassWrapper1 {
    display: grid;
    grid-template-rows: repeat(3,auto);
    width: 350px;
    background-color: var(--backgroundEmailInput);
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    /*border:2px solid orange;*/
    padding: 20px 30px;
}

.forgotPassWrapper2_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #D3D3D3;
}

    .forgotPassWrapper2_Header > h3 {
        font-weight: 500;
        font-size: 1.3rem;
    }

.forgotPassWrapper2_ContentForm {
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.forgotPassWrapper3_Email {
    display: flex;
    flex-direction: column;
    position: relative;
    /*border:1px solid red;*/
    padding: 10px 0 30px 0;
}
.forgotPassWrapper3_Email > label {
    margin-bottom:20px;
}

.userForgotPassInput {
    padding: 20px 10px;
    background: none;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 1rem;
}

.forgotPassEmailComment {
    display: flex;
    flex-direction: column;
    color: red;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    font-weight: 300;
    margin: 5px 15px;
    position: absolute;
    bottom: 0;
}

.forgotPassEmailTopLabel {
    position: absolute;
    bottom: 80px;
    left: 15px;
    color: red;
    background-color: var(--backgroundEmailInput);
    padding: 3px;
    font-size: .9rem;
    display: none;
}



.forgotPassWrapper3_Reminder {
    padding: 20px 0 0 0;
}

    .forgotPassWrapper3_Reminder > p {
        font-size: .9rem;
        font-family: sans-serif,Arial, Helvetica;
        color: #606060;
    }

.forgotPassWrapper2_Footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-top: 1px solid #D3D3D3;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top:30px;
    /*border:1px solid green;*/
}

    .forgotPassWrapper2_Footer > h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .forgotPassWrapper2_Footer > h3:first-child {
            display: flex;
            justify-content: flex-start;
        }


        .forgotPassWrapper2_Footer > h3:last-child {
            background-color: #0099ff;
            color: white;
            padding: 10px;
        }

/*---------------------------------UPDATE PASSWORD-------------------------*/
.updatePassWrapper0 {
    --widthWrapper1: 350px;
    --backgroundEmailInput:#fff;
}
.updatePassWrapper0 {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /*border: 5px solid blue;*/
    font-family:Roboto,sans-serif,Arial, Helvetica;
}

.updatePassWrapper1 {
    display: grid;
    grid-template-rows: repeat(3,auto);
    width: var(--widthWrapper1);
    background-color: var(--backgroundEmailInput);
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    padding: 20px 30px;
    position: absolute;
    left: calc(50% - var(--widthWrapper1) / 2);
    top:15%;
}

.updatePassWrapper2_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #D3D3D3;
}

    .updatePassWrapper2_Header > h3 {
        font-weight: 500;
        font-size: 1.3rem;
    }

.updatePassWrapper2_ContentForm {
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.updatePassWrapper3Password {
    display: flex;
    flex-direction: column;
    position: relative;
    /*border:1px solid red;*/
    padding: 10px 0 30px 0;
}

.newPasswordForgotInput {
    padding: 20px 10px;
    background: none;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 1rem;
}

.updatePassValidationComments {
    display: flex;
    flex-direction: column;
    color: red;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    font-weight: 300;
    margin: 5px 15px;
    position: absolute;
    bottom: 0;
}

.updatePassWrapper3_Reminder {
    padding: 20px 0 0 0;
}

    .updatePassWrapper3_Reminder > p {
        font-size: .9rem;
        color: #606060;
    }

.updatePassWrapper2_Footer {
    display: flex;
    justify-content:flex-end;
    border-top: 1px solid #D3D3D3;
    width: 100%;
    /*padding: 20px 0;*/
    box-sizing: border-box;
    /*border:1px solid green;*/
}

    .updatePassWrapper2_Footer > h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0099ff;
        color: white;
        padding: 10px 25px;
        cursor: pointer;
        border-radius:3px;
    }

.updatePassTopLabel {
    position: absolute;
    bottom: 75px;
    left: 5px;
    color: red;
    background-color: var(--backgroundEmailInput);
    padding: 3px;
    font-size: .9rem;
    /*display: none;*/
}

.newPasswordSuccesWrap0{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.newPasswordSuccesh3:first-child{
    font-size:1.5rem;
    font-weight:500;
    text-align:center;
    color:#1070f6;
    margin-top:50px;
}

.newPasswordSuccesh3:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom:50px;
}

.newPasswordSuccesWrapFooter{
    display:flex;
    justify-content:flex-end;
    width:100%;
    height:100%;
    padding:30px 5px;
}
.newPasswordSuccesAnchor{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    cursor:pointer;
    font-size:1rem;
    color:dimgrey;
    font-weight:500;
    padding:10px 5px;
    border:1px solid #1070f6;
    height:25px;
    width:100px;
    border-radius:5px;
}

.newPasswordSuccesAnchor:hover {
    color:blue;
    border:1px solid grey;
}
/*------------------------------_EmailToConfirmIsSuccessfullySent---------------*/
.forgotPassSuccess_Wrapper0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px 30px 30px;
}

.forgotPassSuccess_Message {
    font-size: 1.2rem;
    margin:5px;
    font-weight:300;
}

    .forgotPassSuccess_Message:first-child {
        font-size: 2rem;
        color: #909090;
        margin: 5px;
        font-weight: 600;
    }
        .forgotPassSuccess_Message:first-child > span {
            font-size: 2rem;
            color: #303030;
            margin: 5px;
            font-weight: 600;
        }

    .forgotPassSuccess_Message:nth-child(2) > span{
        font-size:1.5rem;
        margin: 5px;
        color:blue;
        font-weight: 500;
    }

    .forgotPassSuccess_Message:last-child {
        font-size: 1.4rem;
        margin: 25px;
        font-weight: 400;
    }

.invalidEmailForgotPass {
    border: 1px solid red;
    border-radius: 5px;
}


