
@{
  
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div id="homeTransactOnlineDiv">
    <div id="homeTransactOnlineWrapper0">
        <section id="homeSection0_OnlineTransaction">
            <h2 id="homeTransactOnlineCreateNowH2">Create Account now !!!</h2>
            <h2 id="homeTransactOnlineTitleH2">
                Transact Us<span> Online!</span> <br />
                <span>Anywhere!</span> <span>Anytime!</span>
            </h2>
            <article id="homeTransactOnlineArticle">
                <p>1.  Click "create account" and complete the forms! Don't worry its simple forms.</p>
                <p>2.  Confirm the account on your email, there is a link provided for confirmation!</p>
                <p>3.  Then go back the x-media website, login using your username and password!</p>
                <p>4.  After login, your personal or company account, your account dashboard will open and you can now start transaction, anytime anywhere!</p>
            </article>
        </section>
        <h3 id="homeTransactOnlineCreateAccountH3"> <a id="homeTransactOnlineCreateAccountAnchor" href="/UserAccount/NewUserFillUpForms">Create Account</a></h3>
    </div>
</div>

