

@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_LayoutSubProducts.cshtml";
}


<div class="forgotPassword-container">
    <form class="js-forgotPassword-form" autocomplete="off">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="Email" value="" />
        </div>
        <div class="form-footer">
            <button type="button" class="js-forgotPassword-btn forgotPasswordBtn">Send Code</button>
        </div>
    </form>
</div>



@section Title{
    <h1 class="prodDetsCont-title">Forgot Password</h1>
}


@section JS {

    <script src="~/Scripts/LoginUserAccount/forgotPassword.js"></script>
}