<table class="purchase-order-table">
    <colgroup>
        <col width="16" />
        <col width="46" />
        <col width="16" />
        <col width="10" />
        <col width="5" />
        <col width="14" />
        <col width="23" />
    </colgroup>

    <thead>
        <tr>
            <td colspan="4"></td>
            <td class="border-left"></td>
            <td></td>
            <td style="background: #6d6e71; color: #fff; text-align: center">
                M-1501
            </td>
        </tr>
        <tr>
            <td colspan="4" class="px-5">
                <label class="custom-file-upload">
                    <input type="file" name="ImageFileName" value="" id="js-companyLogoImg"/>
                    UPLOAD COMPANY LOGO
                </label>
            </td>
            <td colspan="2" class="border-left px-5">
                P.O. No:
            </td>
            <td>
                <input type="text" name="PONumber" disabled />
            </td>
        </tr>
        <tr>
            <td colspan="4" class="px-5">
                <small>COMPANY ADDRESS</small>
            </td>
            <td colspan="2" class="border-left px-5">
                Cust ID:
            </td>
            <td>
                <input type="text" name="CustomerID" disabled />
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="2" class="border-left px-5">
                Date:
            </td>
            <td>
                <input type="text" name="Date" disabled />
            </td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td colspan="7" height="35" style="text-align:center; font-size:20px">
                PURCHASE ORDER
            </td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td colspan="2" class="purchase-order-header-01">
                VENDOR
            </td>
            <td colspan="5" class="purchase-order-header-01 border-left">
                SHIP TO
            </td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td class="px-5" style="font-size:13px;">Name:</td>
            <td>
                <input type="text" name="VendorName" />
            </td>
            <td class="px-5" style="font-size:13px">Name:</td>
            <td colspan="4">
                <input type="text" name="CustomerName" />
            </td>
        </tr>
        <tr>
            <td class="px-5" style="font-size:13px;">Company:</td>
            <td>
                <input type="text" name="VendorCompanyName" />
            </td>
            <td class="px-5" style="font-size:13px">Company:</td>
            <td colspan="4">
                <input type="text" name="CustomerCompanyName" />
            </td>
        </tr>
        <tr>
            <td class="px-5" style="font-size:13px;">Address:</td>
            <td>
                <input type="text" name="VendorAddress" />
            </td>
            <td class="px-5" style="font-size:13px">Address:</td>
            <td colspan="4">
                <input type="text" name="CustomerAddress" />
            </td>
        </tr>
        <tr>
            <td class="px-5" style="font-size:13px;">Cel No:</td>
            <td>
                <input type="text" name="VendorCelNo" />
            </td>
            <td class="px-5" style="font-size:13px">Cel No:</td>
            <td colspan="4">
                <input type="text" name="CustomerCelNo" />
            </td>
        </tr>
        <tr>
            <td class="px-5" style="font-size:13px;">Tel No:</td>
            <td>
                <input type="text" name="VendorTelNo" />
            </td>
            <td class="px-5" style="font-size:13px">Tel No:</td>
            <td colspan="4">
                <input type="text" name="CustomerTelNo" />
            </td>
        </tr>
        <tr>
            <td colspan="7" height="15"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td class="purchase-order-header-02">
                ITEM NO
            </td>
            <td class="purchase-order-header-02">
                DESCRIPTION
            </td>
            <td class="purchase-order-header-02">
                UNITS
            </td>
            <td class="purchase-order-header-02">
                QTY
            </td>
            <td colspan="2" class="purchase-order-header-02">
                UNIT PRICE
            </td>
            <td class="purchase-order-header-02 no-border-right">
                AMOUNT
            </td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>

        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td class="border-right" height="30"></td>
                <td class="border-right" height="30"></td>
                <td class="border-right" height="30"></td>
                <td class="border-right" height="30"></td>
                <td colspan="2" class="border-right" height="30"></td>
                <td class="border-right" height="30"></td>
            </tr>
            <tr>
                <td colspan="7" class="border-bottom"></td>
            </tr>
        }

        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td colspan="3" height="25"></td>
            <td colspan="3" class="purchase-order-tbl-footer px-5">Amount >></td>
            <td class="border-left"></td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
        <tr>
            <td colspan="3" height="25"></td>
            <td colspan="3" class="purchase-order-tbl-footer px-5">12% VAT >></td>
            <td class="border-left"></td>
        </tr>
        <tr>
            <td colspan="3" height="25"></td>
            <td colspan="3" class="purchase-order-tbl-footer px-5">Total Amount >></td>
            <td class="border-left"></td>
        </tr>
        <tr>
            <td colspan="7" class="border-top"></td>
        </tr>
    </tbody>
    <tfoot>

        <tr>
            <td colspan="7" height="40"></td>
        </tr>
        <tr>
            <td colspan="3" class="px-5" style="font-size:14px;">PREPARED BY:</td>
            <td colspan="4" class="px-5" style="font-size:14px;">APPROVED BY:</td>
        </tr>

        <tr>
            <td colspan="7" height="10"></td>
        </tr>
        <tr>
            <td colspan="2" class="px-5">
                <input type="text" name="PreparedBy" />
            </td>
            <td></td>
            <td colspan="4" class="px-5">
                <input type="text" name="ApprovedBy" />
            </td>
        </tr>
        <tr>
            <td colspan="7" height="15"></td>
        </tr>

    </tfoot>
</table>
