<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="X-MEDIAWEB_DB" connectionString="Data Source=DESKTOP-2UC1OJV\SQLEXPRESS; Integrated Security=SSPI;Initial Catalog=X-MEDIAWEB_DB" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>