@model BusinessModel.ObjectModel.DmlInsertNewUserAccountObjectModel
<div id="newAccntExistEmail_Wrapper0">
    <div id="newAccntExistEmail_Wrapper1">
        <h2 class="newAccntExistEmailH3_Message">Hi @Model.FirstName</h2>
        <h2 class="newAccntExistEmailH3_Message">Your email: <span>@Model.EmailAddress</span> is already Exist!</h2>
        <h2 class="newAccntExistEmailH3_Message">Do you want to continue sign-up?</h2>
        <div id="newAccntExistEmail_btnContainer">
            <h2 id="newAccntExistEmailYesBtn" class="newAccntExistEmailH3_Btn">YES</h2>
            <h2 id="newAccntExistEmailNoBtn" class="newAccntExistEmailH3_Btn">NO</h2>
        </div>
    </div>
</div>
