@model BusinessModel.ObjectModel.DmlInsertNewUserAccountObjectModel
<div id="newAccountSuccess_Wrapper0">
    <h2 class="newAccountSuccessH3_Message">Hi @Model.FirstName! @Model.EmailAddressId</h2>
    <h2 class="newAccountSuccessH3_Message">You have successfully created an X-Media accounts!</h2>
    <h2 class="newAccountSuccessH3_Message">Please open your email and click the confirmation link to confirm your account! </h2>
    <h2 class="newAccountSuccessH3_Message">After confirmation, you can log-in immediately and start transaction!</h2>
    <h2 class="newAccountSuccessH3_Message">Thank you for your time and effort to sign-in, we really appreciate!</h2>
</div>
