
@{
    ViewBag.Title = "VinylStickers";
    Layout = "~/Views/Shared/_LayoutSubProducts.cshtml";
}

<div class="prodDets-cont-00">
    <div class="prodDetsCont-divCont-01-images">
        <div class="purchase-order-form-container">
            <table>
                <colgroup>
                    <col width="11" />
                    <col width="46"/>
                    <col width="11"/>
                    <col width="10"/>
                    <col width="5"/>
                    <col width="14"/>
                    <col width="23"/>
                </colgroup>

                <thead>
                    <tr>
                        <td colspan="4"></td>
                        <td style="border-left:1px solid"></td>
                        <td></td>
                        <td style="background: #6d6e71; color: #fff; text-align: center">
                            M-1501
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            LOGO / COMPANY NAME
                        </td>
                        <td style="border-left:1px solid"></td>
                        <td>
                            P.O. No:
                        </td>
                        <td>
                            <input type="text" name="PONumber" style="border:none; border-bottom: 1px solid; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <small>COMPANY ADDRESS</small>
                        </td>
                        <td style="border-left:1px solid"></td>
                        <td>
                            Cust ID:
                        </td>
                        <td>
                            <input type="text" name="CustomerID" style="border:none; border-bottom: 1px solid; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td style="border-left:1px solid"></td>
                        <td>
                            Date:
                        </td>
                        <td>
                            <input type="text" name="Date" style="border:none; border-bottom: 1px solid; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="7" height="35" style="text-align:center; font-size:20px">
                            PURCHASE ORDER
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-size: 15px; background: #d1d2d4;">
                            VENDOR
                        </td>
                        <td colspan="5" style="font-size: 15px; background: #d1d2d4; border-left: 2px solid black">
                            SHIP TO
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                    <tr>
                        <td style="font-size:13px;">Name:</td>
                        <td>
                            <input type="text" name="VendorName" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                        <td style="font-size:13px">Name:</td>
                        <td colspan="4">
                            <input type="text" name="CustomerName" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px;">Company:</td>
                        <td>
                            <input type="text" name="VendorCompanyName" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                        <td style="font-size:13px">Company:</td>
                        <td colspan="4">
                            <input type="text" name="CustomerCompanyName" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px;">Address:</td>
                        <td>
                            <input type="text" name="VendorAddress" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                        <td style="font-size:13px">Address:</td>
                        <td colspan="4">
                            <input type="text" name="CustomerAddress" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px;">Cel No:</td>
                        <td>
                            <input type="text" name="VendorCelNo" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                        <td style="font-size:13px">Cel No:</td>
                        <td colspan="4">
                            <input type="text" name="CustomerCelNo" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px;">Tel No:</td>
                        <td>
                            <input type="text" name="VendorTelNo" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                        <td style="font-size:13px">Address:</td>
                        <td colspan="4">
                            <input type="text" name="CustomerTelNo" style="border:none; border-bottom: 1px dashed; width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" height="15"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7" style="border-top:2px solid;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; font-size: 15px; background: #d1d2d4; border-right: 2px solid">
                            ITEM NO
                        </td>
                        <td style="text-align: center; font-size: 15px; background: #d1d2d4; border-right: 2px solid">
                            DESCRIPTION
                        </td>
                        <td style="text-align: center; font-size: 15px; background: #d1d2d4; border-right: 2px solid">
                            UNITS
                        </td>
                        <td style="text-align: center; font-size: 15px; background: #d1d2d4; border-right: 2px solid">
                            QTY
                        </td>
                        <td colspan="2" style="text-align: center; font-size: 15px; background: #d1d2d4; border-right: 2px solid">
                            UNIT PRICE
                        </td>
                        <td style="text-align: center; font-size: 15px; background: #d1d2d4">
                            AMOUNT
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top: 2px solid"></td>
                    </tr>

                    @for (int i = 0; i < 10; i++)
                    {
                        <tr>
                            <td style="border-right:2px solid" height="30"></td>
                            <td style="border-right:2px solid" height="30"></td>
                            <td style="border-right:2px solid" height="30"></td>
                            <td style="border-right:2px solid" height="30"></td>
                            <td colspan="2" style="border-right:2px solid" height="30"></td>
                            <td style="border-right:2px solid" height="30"></td>
                        </tr>
                    }

                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="25"></td>
                        <td colspan="3" style="font-size:13px; text-align:right">Amount >></td>
                        <td style="border-left:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="25"></td>
                        <td colspan="3" style="font-size:13px; text-align:right">12% VAT >></td>
                        <td style="border-left:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="25"></td>
                        <td colspan="3" style="font-size:13px; text-align:right">Total Amount >></td>
                        <td style="border-left:2px solid"></td>
                    </tr>
                    <tr>
                        <td colspan="7" style="border-top:2px solid"></td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr>
                        <td colspan="7" height="40"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size:14px;">PREPARED BY:</td>
                        <td colspan="4" style="font-size:14px;">APPROVED BY:</td>
                    </tr>
                    
                    <tr>
                        <td colspan="7" height="10"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" name="PreparedBy" style="width:100%; border:none; border-bottom: 2px solid" />
                        </td>
                        <td></td>
                        <td colspan="4">
                            <input type="text" name="ApprovedBy" style="width:100%; border:none; border-bottom: 2px solid" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7" height="15"></td>
                    </tr>

                </tfoot>
            </table>
        </div>
        <div class="form-thumbnails">
            thumbnails here
        </div>
    </div>
    <div class="prodDetsCont-divCont-01-config">
        <div class="prodDetsCont-divCont-02-config-title">
            <h2 class="prodDetsCont-divCont-03-config-title">Details &amp; Cost </h2>
        </div>
        <div class="prodDetsCont-divCont-02-config-po">
            <div class="prodDetsCont-divCont-02-config">
                <h4 class="prodDets-config-label">Select Size</h4>
                <select class="prodDets-config-select">
                    <option>A4 (21.0 x 29.7cm)</option>
                    <option>A5 (14.8 x 21.0cm)</option>
                    <option>A6 (10.5 x 14.8cm)</option>
                    <option>Custom Size</option>
                </select>
                <i class="prodDetsCont-icon-checked"><img src="~/images/icon/checked-green.png" /></i>
            </div>
            <div class="prodDetsCont-div-02-custom0">
                <h4>Custom dimension?</h4>
                <div class="prodDetsCont-div-02-custom">
                    <input placeholder="width" />
                    <input placeholder="heigth" />
                </div>
            </div>
        </div>

        <div class="prodDetsCont-divCont-02-config">
            <h4 class="prodDets-config-label">Select Paper </h4>
            <select class="prodDets-config-select">
                <option>Bond Paper Sub20</option>
                <option>Bond Paper Sub16</option>
                <option>News Print</option>
                <option>Colored Paper Sub20</option>
                <option>Colored Paper Sub16</option>
                <option>Carbonize 1 copy</option>
                <option>Carbonize 2 copies</option>
                <option>Carbonize 3 Copies</option>
                <option>Carbonize 4 Copies</option>
            </select>
            <i class="prodDetsCont-icon-checked"><img src="~/images/icon/checked-green.png" /></i>
        </div>

        <div class="prodDetsCont-divCont-02-config">
            <h4 class="prodDets-config-label">No. of Duplicates </h4>
            <select class="prodDets-config-select js-no-ofDuplicates">
                <option value="0">No Duplicates</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <i class="prodDetsCont-icon-checked"><img src="~/images/icon/checked-green.png" /></i>
        </div>

        <div class="duplicate-color-container js-duplicate-container">
           
        </div>

        <div class="prodDetsCont-divCont-02-config">
            <h4 class="prodDets-config-label">Select Print Color </h4>
            <select class="prodDets-config-select">
                <option>Monotone / Black &amp; White</option>
                <option>Colored - 2 tone</option>
                <option>Colored - 3 tone</option>
            </select>
            <i class="prodDetsCont-icon-checked"><img src="~/images/icon/checked-green.png" /></i>
        </div>
        <div class="prodDetsCont-divCont-02-config">
            <h4 class="prodDets-config-label">With Padding Glue </h4>
            <select class="prodDets-config-select js-padding-select">
                <option value="1">No</option>
                <option value="2">Yes</option>
            </select>
            <i class="prodDetsCont-icon-checked"><img src="~/images/icon/checked-green.png" /></i>
        </div>
        <div class="padding-color-container" style="display: none">
            <div class="duplicate-container">
                <label>No of Set Per Pad</label>
                <select class="color-select">
                    <option value="">100</option>
                    <option value="">200</option>
                    <option value="">300</option>
                    <option value="">400</option>
                    <option value="">500</option>
                    <option value="">600</option>
                    <option value="">700</option>
                    <option value="">800</option>
                    <option value="">900</option>
                    <option value="">1000</option>
                </select>
            </div>
            <div class="duplicate-container">
                <label>Which Side ?</label>
                <select class="color-select">
                    <option value="">Short Side</option>
                    <option value="">Long Side</option>
                </select>
            </div>
        </div>
        <div class="prodDetsCont-divCont-02-configPrice">
            <div class="prodDetsCont-divCont-03-configPrice">
                <h4 class="prodDets-config-price-label">Quantity : </h4>
                <select class="prodDets-config-select-quantity"></select>
                @*<input class="prodDets-config-input" />*@
            </div>
            <div class="prodDetsCont-divCont-03-configPrice">
                <h4 class="prodDets-config-price-label">Unit Price : </h4>
                <input class="prodDets-unitPrice-input" value="Php 1.25" disabled />
            </div>
            <div class="prodDetsCont-divCont-03-configPrice">
                <h4 class="prodDets-config-price-label">Total Price : </h4>
                <input class="prodDets-totalPrice-input" disabled value="Php 2,000.00" />
            </div>
        </div>

    </div>
</div>

@section Uri{
    <h5 class="prodDetsCont-uri">X-Media| Stickers | Purchase Order Forms</h5>
}
@section Title{
    <h1 class="prodDetsCont-title">Purchase Order Forms</h1>
}

